@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
html{
  scroll-behavior: smooth ;
}

.container{
  height: 100vh;
  width: 100%;
  position: relative;
  background-image: url("./images/Electrical\ Background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.container .navbar{
  width: 100%;
  position: fixed;
  z-index: 1000;
  padding: 20px 0;
}
.navbar .nav-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 64.4px;
  padding: 0 12px;
}

.nav-content .logo .logo-head{
  font-size: 24px;
  font-weight:bold;
  color: #fe4a17;
  cursor: default;
  font-family: "Allerta Stencil";
}

.nav-items{
  display: flex;
  list-style-type: none;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}
.nav-items li{
  padding: 8px 12px;
  text-decoration: none;
  font: 16px;
}
.nav-items li a{
  padding: 0 3px;
  text-decoration: none;
  font: 16px;
  font-family: "open sans";
  font-weight: 600;
  color: white;
  position: relative;
  cursor: pointer;
}

.nav-items li a::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 20px;
  bottom: -5px;
  left: 0;
  background-color: #fe4a17;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.nav-items li a:hover::after{
  visibility: visible;
  transform: scaleX(1.1);
}

.bgcolor{
    background:rgba(56, 67,75, 0.8);
    transition: all .7s;
}

/* section1 */
.homepage-content {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  position: absolute;
  top: 0%;
  width: 100%;
}
.homepage-content h2 {
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
  margin-bottom: 1rem;
  font-family: 'Allerta Stencil';
}
.homepage-content h1 {
    font-family: 'Allerta Stencil';
    font-size: 3rem;
    font-weight: 500;
    color: white;
    margin-bottom: 1rem;
}
.homepage-content h3 {
    font-family: 'Allerta Stencil';
  font-size: 2.4rem;
  font-weight: 500;
  color: #fe4a17;
  margin-bottom: 1rem;
}

/* timmer */

.countdown-container {
    display: flex;
    width: 40%;
    max-width: 50%;
    justify-content: space-between;
    margin-top: 4rem;
  }
  
  .days-container,
  .hours-container,
  .minutes-container, 
  .seconds-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.1);
    border: 5px solid rgba(255,255,255,0.3);
    width: 100px;
    height: 100px;
    border-radius: 99px;
  }
  
  .days,
  .hours,
  .minutes,
  .seconds {
    font-size: 2rem; 
    margin: 10px 0;
    color: #fe4a17;    font-family: "Allerta Stencil";
  }
  
  .days-label,
  .hours-label,
  .minutes-label,
  .seconds-label {
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    color: white;
  }

/* section 2 */
.about-content {
  background-color: #f8f9fa;
  width: 100vw;
  padding: 2rem 0;
}
.about-container {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 25px 12px 15px 12px;
  margin: 0 64.4px;
  border-radius: 6px;
  height: 100%;
}
.wrapper-head {
  margin-top: 10px;
  padding: 10px 0;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-wrapper {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}
.image-wrapper {
  height: 100%;
  width: 45%;
}
.image-wrapper img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}
.para-wrapper {
  height: 100%;
  width: 45%;
 
}
.copywrite {
  height: 4vh;
  background-color: slategray;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}
